@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Grotesk", sans-serif;
}

body main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
@media (min-width: 1140px) {
  body main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    height: 100vh;
  }
}

#cards-container {
  max-width: 375px;
  padding: 35px 15px;
  background-image: url("images/bg-main-mobile.png");
  background-size: cover;
  width: 100%;
  position: relative;
  height: 240px;
}
@media (min-width: 1140px) {
  #cards-container {
    height: 100%;
    max-width: 100%;
    background-image: url("images/bg-main-desktop.png");
  }
}
#cards-container .card-back, #cards-container .card-front {
  width: 285px;
  position: absolute;
}
#cards-container .card-back img, #cards-container .card-front img {
  width: 100%;
}
@media (min-width: 1140px) {
  #cards-container .card-back, #cards-container .card-front {
    width: 450px;
  }
}
#cards-container .card-back {
  right: 15px;
}
@media (min-width: 1140px) {
  #cards-container .card-back {
    bottom: 190px;
    right: -215px;
  }
}
#cards-container .card-back .card-back-content .ccv-number {
  color: white;
  position: absolute;
  right: 32px;
  top: 70px;
  font-size: 0.7rem;
}
@media (min-width: 1140px) {
  #cards-container .card-back .card-back-content .ccv-number {
    right: 60px;
    top: 112px;
    font-size: 0.9rem;
    letter-spacing: 2px;
  }
}
#cards-container .card-front {
  top: 125px;
}
@media (min-width: 1140px) {
  #cards-container .card-front {
    top: 190px;
    right: -115px;
  }
}
#cards-container .card-front .card-front-content {
  color: white;
  position: absolute;
  bottom: 25px;
  left: 25px;
  width: 240px;
}
@media (min-width: 1140px) {
  #cards-container .card-front .card-front-content {
    bottom: 30px;
    left: 35px;
    width: 385px;
  }
}
#cards-container .card-front .card-front-content .card-number {
  font-size: 1.3rem;
  margin-bottom: 20px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}
@media (min-width: 1140px) {
  #cards-container .card-front .card-front-content .card-number {
    font-size: 1.8rem;
    letter-spacing: 3px;
  }
}
#cards-container .card-front .card-front-content .card-name {
  text-transform: uppercase;
  font-size: 0.7rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}
@media (min-width: 1140px) {
  #cards-container .card-front .card-front-content .card-name {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
}
#cards-container .card-front .card-front-content .card-expiry {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 0.7rem;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
}
@media (min-width: 1140px) {
  #cards-container .card-front .card-front-content .card-expiry {
    letter-spacing: 2px;
  }
}

#cc-form {
  max-width: 325px;
  width: 100%;
  margin-top: 70px;
}
@media (min-width: 1140px) {
  #cc-form {
    margin-top: 0;
    margin-left: 350px;
    max-width: 380px;
  }
}
#cc-form .form-control {
  margin: 25px 0;
  display: flex;
  flex-direction: column;
}
#cc-form .form-control.form-control-date {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
#cc-form .form-control label {
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 2px;
  color: hsl(278deg, 68%, 11%);
  font-weight: bold;
}
@media (min-width: 1140px) {
  #cc-form .form-control label {
    font-weight: lighter;
  }
}
#cc-form .form-control input {
  margin-top: 5px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  border: hsl(270deg, 3%, 87%) 1px solid;
  outline: 0;
  font-size: 1rem;
}
#cc-form .form-control input::placeholder {
  color: hsl(270deg, 3%, 87%);
  font-size: 1.2rem;
}
#cc-form .form-control input:focus {
  border-color: black;
}
#cc-form .form-control input.invalid {
  border-color: hsl(0deg, 100%, 66%);
}
#cc-form .form-control .expiry-date-fields {
  display: flex;
}
#cc-form .form-control .expiry-date-fields label:last-child {
  margin-left: 5px;
}
#cc-form .form-control .hint {
  color: hsl(0deg, 100%, 66%);
  font-size: 0.7rem;
  margin-top: 5px;
  display: none;
}
#cc-form button {
  width: 100%;
  background: hsl(278deg, 68%, 11%);
  color: white;
  border: 0;
  outline: 0;
  border-radius: 6px;
  padding: 20px;
  font-size: 1.1rem;
}

#state-complete {
  display: none;
  max-width: 325px;
  width: 100%;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1140px) {
  #state-complete {
    max-width: 380px;
    margin-left: 350px;
  }
}
#state-complete h1 {
  text-transform: uppercase;
  font-weight: lighter;
  font-size: 1.6rem;
  letter-spacing: 3px;
  color: hsl(278deg, 68%, 11%);
  margin: 30px 0;
}
#state-complete a {
  width: 100%;
}
#state-complete a button {
  width: 100%;
  margin: 50px 0;
  background: hsl(278deg, 68%, 11%);
  color: white;
  border: 0;
  outline: 0;
  padding: 15px;
  border-radius: 5px;
  font-size: 1rem;
}

/*# sourceMappingURL=styles.css.map */
